.savePositionPage {
  width: 100%;
  height: 80vh;
  background: whitesmoke;
  margin-top: 150px;
  overflow: scroll;
}

.savePositionPage__header {
  background: #091d35;
  height: 160px;
}

.savePositionPage__title {
  color: white;
  font-size: 2rem;
  padding-left: 10%;
  line-height: 160px;
}

.savePositionPage__icon {
  padding-right:20px;
}

.savePositionPage__span{
  padding-left:50px;
}

.savePositionPage__syncButton{
  top:8%;
  right:0;
  position: fixed;
  width:65%;
  height:150px;
  background: #e61638;
  -webkit-border-top-left-radius: 40px;
-webkit-border-bottom-left-radius: 40px;
-moz-border-radius-topleft: 40px;
-moz-border-radius-bottomleft: 40px;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
}

.savePositionPage__syncButton a {
  color:#fff;
  line-height: 150px;
  font-size:33px;
  padding-left: 20px;
}

.savePositionPage__currentPosition {
  border-bottom:1px solid silver;
  width:100%;
}

.savePositionPage__flex {
  width:80%;
  margin:auto;
  display:flex;
  padding-top:20px;
  padding-bottom:20px;
}

ul {
  list-style: none;
}

.savePositionPage__gender{
  flex:40%;
}
.savePositionPage__info{
  flex: 95%;
  font-size: 33px;
}

.savePositionPage__text {
  padding-left:20px;
}

.savePositionPage__article {
  width: 80%;
  margin: auto;
  font-size: 2rem;
  padding-top: 40px;
  padding-bottom: 40px;
}

.savePositionPage__article::first-letter{
  font-size: 3rem;
}

.savePositionPage__graveyard {
  font-family: 'Arial'
}
