.syncComplete {
    width:90%;
    height:90vh;
    display: flex;
    align-items: center;
    margin:auto;
    color: white;
    flex-wrap:  nowrap;
}

.syncComplete--size {
  font-size: 20rem !important;
}

.syncComplete__title{
  width:100%;
  font-size: 4rem;
}
